{% extends 'base.html' %} {% load static %} {% block meta %}
    <title>Don8</title>
{% endblock meta %} {% block content %}

<script>
    $(document).ready(() => {

        const card = data => `
            <div
              class="rounded-lg shadow-lg bg-green-medium py-4 px-3 hover:scale-105 transition-all"
            >
              <div class="max-w-[250px] min-h-[150px] text-center text-brokenwhite">
                <div
                  class="w-[250px] h-[150px] rounded bg-cover bg-center"
                  style="
                    background-image: url(${data.fields.image_url});
                  "
                ></div>
                <p class="font-bold text-orange-light mt-4">${data.fields.title}</p>
                <p class="font-bold">
                  <span class="text-orange-light">Rp</span> ${
                    data.fields.money_accumulated
                }
                  <span class="text-orange-light font-normal text-xs">terkumpul</span>
                </p>
                <div class="h-3 bg-brokenwhite rounded-full mt-4">
                  <div class="h-3 bg-orange-medium rounded-full w-[${
                    (100 * data.fields.money_accumulated) / data.fields.money_needed
                }%]"></div>
                </div>
                <!-- comment -->
                {% if user.username != profile.username  %}
                    <button
                      class="text-orange-dark font-bold bg-orange-light py-2 px-3 mt-4 rounded hover:scale-110 hover:shadow-md transition-all hover:shadow-brokenwhite/50"
                      id="donate_button"
                      onclick= "location.href='/donation/${data.pk}'"
                    >
                      Donasi
                    </button>
                {% endif %}
                <!-- endcomment -->
              </div>
            </div>`;

        const render = data => {
            const cards = data.map(card).join("");
            $("#donations-card").html(cards);
        };

        $.ajax({
            url: "donations",
            type: "GET",
            success: data => {
                if (data.length > 0) {
                    render(data);
                } else {
                    $("#donations-card").html(
                        `<div class='text-center text-green-dark text-[15px] md:text-[20px] '>Maaf, saat ini sedang tidak tersedia donasi apapun.</div>`
                    );
                }
            },
            error: err => {
                console.log(err);
            },
        });

        $.ajax({
            url: "{% url 'auth:check_login' %}",
            type: "GET",
            success: response => {
                // console.log(response.is_login);
                if (response.is_login) {
                    if (response.username != "{{ profile.username }}") {
                        $("#withdraw").hide();
                    } else {
                        $("#withdraw").show();
                    }
                }
                else {
                    $("#withdraw").hide();
                }
            },
        });
    });
</script>

<div class="bg-brokenwhite min-h-screen ">
    <div class="bg-fixed bg-no-repeat bg-right-bottom" style="background-image: url(https://png.pngtree.com/png-vector/20201213/ourlarge/pngtree-charity-humanitarian-aid-people-donation-in-dddesign-png-image_2558323.jpg)">
        <div
                class="max-w-[80%] mx-auto min-h-screen flex items-center justify-between gap-10"
        >
            <div>
                <h1 class="font-bold text-green-dark text-[100px]">{{ profile.username }}</h1>
                <div class="flex items-center">
                    <h3 class="font-bold text-green-light text-[45px]">Telah berhasil &nbsp</h3>
                    <h3 class="font-bold text-green-dark text-[50px]">mengumpulkan</h3>
                </div>
                <div class="flex items-center">
                    <p class="font-bold text-green-light text-[40px] text-justify">Rp &nbsp</p>
                    <p class="text-green-dark font-bold text-[50px] text-justify">{{ profile.balance }}</p>
                    <p class="font-bold text-green-light text-[40px] text-justify">.00</p>
                </div>
                <div class="flex items-center">
                    <p class="font-bold text-green-light mb-[30px] text-[45px] text-justify"> Dari &nbsp</p>
                    <p class="font-bold text-green-dark mb-[30px] text-[50px] text-justify">{{ org_profile.total_campaign }}</p>
                    <p class="font-bold text-green-light mb-[30px] text-[45px] text-justify"> &nbsp penggalangan dana</p>
                </div>
                <button
                        class="text-brokenwhite bg-gradient-to-r from-green-dark to-green-medium py-4 px-5 rounded-lg hover:scale-110 hover:shadow-lg transition-all hover:shadow-gree-medium/70 text-[25px]"
                        id="withdraw"
                >
                    <div class="flex items-center gap-3">
                        <p class="text-sm md:text-lg">Withdraw</p>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-6 h-6 animate-bounce"
                        >
                            <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5"
                            />
                        </svg>
                    </div>
                </button>
            </div>
            <div
                    class="rounded-lg shadow-lg bg-green-medium py-4 px-3 hover:scale-150 transition-all"
            >
                <div class="min-w-[250px] max-h-[150px] text-center text-brokenwhite">
                    <p class="font-bold text-orange-light text-[25px] mt-4 mb-2">Catatan Keuangan</p>
                    <p class="font-bold text-[15px] mb-1">
                        <span class="text-orange-light">Rp &nbsp</span>
                        {{ profile.balance }}
                        <span class="text-orange-light font-normal text-xs">.00 terkumpul</span>
                    </p>
                    <p class="font-bold mb-4 text-[15px]" id="money">
                        <span class="text-orange-light">Rp &nbsp</span>
                        {{ org_profile.withdrawn }}
                        <span class="text-orange-light font-normal text-xs">.00 ditarik</span>
                    </p>
                    <!-- comment -->
                    {% if user.username != profile.username  %}
                        <button
                                class="text-orange-dark font-bold bg-orange-light py-2 px-3 mt-4 rounded hover:scale-110 hover:shadow-md transition-all hover:shadow-brokenwhite/50"
                                id="donate_button"
                                onclick= "location.href='/donation/${data.pk}'"
                        >
                            Donasi
                        </button>
                    {% endif %}
                    <!-- endcomment -->
                </div>
            </div>
        </div> <!-- organizations profile -->

        <div class="max-w-[80%] mx-auto min-h-screen py-20" id="donations">
            <h1 class="text-green-dark text-[50px] font-bold mb-10 text-center">
                Our Campaigns
            </h1>

            <div class="flex flex-wrap items-center justify-center mb-10"
                 role="group"
            >
                <button type="button" id="all-button"
                        class="py-4 px-6 text-sm font-medium text-brokenwhite bg-brokenwhite rounded-l-lg border border-green-dark hover:bg-green-medium hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-brokenwhite dark:bg-green-medium dark:border-green-dark dark:text-brokenwhite dark:hover:text-brokenwhite dark:hover:bg-green-dark dark:focus:ring-green-dark dark:focus:text-brokenwhite">
                    All
                </button>
                <button type="button" id="completed-button"
                        class="py-4 px-6 text-sm font-medium text-brokenwhite bg-brokenwhite border-t border-b border-green-dark hover:bg-green-medium hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-brokenwhite dark:bg-green-medium dark:border-green-dark dark:text-brokenwhite dark:hover:text-brokenwhite dark:hover:bg-green-dark dark:focus:ring-green-dark dark:focus:text-brokenwhite">
                    Completed
                </button>
                <button type="button" id="expired-button"
                        class="py-4 px-6 text-sm font-medium text-brokenwhite bg-brokenwhite border-t border-b border-green-dark hover:bg-green-medium hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-brokenwhite dark:bg-green-medium dark:border-green-dark dark:text-brokenwhite dark:hover:text-brokenwhite dark:hover:bg-green-dark dark:focus:ring-green-dark dark:focus:text-brokenwhite">
                    Expired
                </button>
                <button type="button" id="progress-button"
                        class="py-4 px-6 text-sm font-medium text-brokenwhite bg-brokenwhite rounded-r-md border border-green-dark hover:bg-green-medium hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-brokenwhite dark:bg-green-medium dark:border-green-dark dark:text-brokenwhite dark:hover:text-brokenwhite dark:hover:bg-green-dark dark:focus:ring-green-dark dark:focus:text-brokenwhite">
                    In Progress
                </button>
            </div>

            <div
                    class="flex flex-wrap items-center justify-center gap-10"
                    id="donations-card"
            >
                <!-- start card -->
                <!-- end card -->
            </div>
        </div>
    </div>
    <div
            id="defaultModal"
            tabindex="-1"
            aria-hidden="true"
            class="w-full fixed flex justify-center w-full z-10 min-h-screen items-center bg-green-dark bg-opacity-50 hidden md:inset-0 h-modal md:h-full"
    >
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
            <!-- Modal content -->
            <form method="POST" id="post-form">
                {% csrf_token %}
                <div class="relative bg-brokenwhite rounded-lg shadow">
                    <!-- Modal header -->
                    <div class="flex justify-between items-start p-4 rounded-t border-b">
                        <h3 class="text-xl font-semibold text-gray-900">
                            Money Withdrawal
                        </h3>
                        <button
                                type="button"
                                class="classtutup text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                                data-modal-toggle="defaultModal"
                        >
                            <svg
                                    aria-hidden="true"
                                    class="w-5 h-5"
                                    fill="currentColor"
                                    viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                        fill-rule="evenodd"
                                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                        clip-rule="evenodd"
                                ></path>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->

                    <div class="p-6 space-y-6">

                        <div class="md:flex md:items-center mb-6">

                            <label
                                    class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                            >
                                How much money are you going to withdraw?
                            </label>

                        </div>
                        <!-- Amount input -->
                        <div class="md:flex md:items-center mb-6">
                            <div class="md:w-1/3">
                                <label
                                        class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                                        for="id_amount"
                                >
                                    Amount
                                </label>
                            </div>
                            <div class="md:w-2/3 flex md:items-center">
                                <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4 md:w-1/6 md:text-right">
                                    Rp
                                </label>
                                    {{ form.amount }}
                                <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4 md:w-1/6 md:text-left">
                                    .00
                                </label>
                            </div>
                        </div>

                    </div>
                    <!-- Modal footer -->
                    <div
                            class="flex items-center justify-center p-6 space-x-2 rounded-b border-t border-gray-200"
                    >
                        <button
                                data-modal-toggle="defaultModal"
                                type="submit"
                                class="text-brokenwhite bg-green-medium py-2 px-3 rounded hover:scale-110 hover:shadow-md transition-all hover:shadow-brokenwhite/50"
                        >
                            Withdraw
                        </button>
                        <button
                                data-modal-toggle="defaultModal"
                                type="button"
                                class="classtutup text-white bg-orange-medium transition-all rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:scale-110 focus:z-10"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div> <!--modal-->
</div>
<script>
    const openModal = e => {
        $("#defaultModal").removeClass("hidden");
    };

    const closeModal = e => {
        $("#defaultModal").addClass("hidden");
    };

    $("#withdraw").click(openModal);
    $(".classtutup").click(closeModal);

    $(document).on("submit", "#post-form", function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "",
            data: {
                amount: $("#id_amount").val(),
                csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                action: "post",
            },
            success: function (response) {
                $("#post-form").trigger("reset");
                closeModal();
                document.getElementById("money").innerHTML = `
                <span class="text-orange-light">Rp</span>
                        ${response.profile_w}
                <span class="text-orange-light font-normal text-xs">.00 ditarik</span>`;
            },
        })

    });

    const new_card = data => `
            <div
              class="rounded-lg shadow-lg bg-green-medium py-4 px-3 hover:scale-105 transition-all"
            >
              <div class="max-w-[250px] min-h-[150px] text-center text-brokenwhite">
                <div
                  class="w-[250px] h-[150px] rounded bg-cover bg-center"
                  style="
                    background-image: url(${data.fields.image_url});
                  "
                ></div>
                <p class="font-bold text-orange-light mt-4">${data.fields.title}</p>
                <p class="font-bold">
                  <span class="text-orange-light">Rp</span> ${
        data.fields.money_accumulated
    }
                  <span class="text-orange-light font-normal text-xs">terkumpul</span>
                </p>
                <div class="h-3 bg-brokenwhite rounded-full mt-4">
                  <div class="h-3 bg-orange-medium rounded-full w-[${
        (100 * data.fields.money_accumulated) / data.fields.money_needed
    }%]"></div>
                </div>
                <!-- comment -->
                {% if user.username != profile.username  %}
                    <button
                      class="text-orange-dark font-bold bg-orange-light py-2 px-3 mt-4 rounded hover:scale-110 hover:shadow-md transition-all hover:shadow-brokenwhite/50"
                      id="donate_button"
                      onclick= "location.href='/donation/${data.pk}'"
                    >
                      Donasi
                    </button>
                {% endif %}
                <!-- endcomment -->
              </div>
            </div>`;

    const render = data => {
        const new_cards = data.map(new_card).join("");
        $("#donations-card").html(new_cards);
    };

    $("#all-button").click(function (e){
        $.ajax({
            url: "donations",
            type: "GET",
            success: data => {
                if (data.length > 0) {
                    render(data);
                } else {
                    $("#donations-card").html(
                        `<div class='text-center text-green-dark text-[15px] md:text-[20px] '>Maaf, saat ini sedang tidak tersedia donasi apapun.</div>`
                    );
                }
            },
            error: err => {
                console.log(err);
            },
        });
    });

    $("#completed-button").click(function (e){
        $.ajax({
            url: "donationscomp",
            type: "GET",
            success: data => {
                if (data.length > 0) {
                    render(data);
                } else {
                    $("#donations-card").html(
                        `<div class='text-center text-green-dark text-[15px] md:text-[20px] '>Maaf, saat ini sedang tidak tersedia donasi apapun.</div>`
                    );
                }
            },
            error: err => {
                console.log(err);
            },
        });
    });

    $("#expired-button").click(function (e){
        $.ajax({
            url: "donationsexp",
            type: "GET",
            success: data => {
                if (data.length > 0) {
                    render(data);
                } else {
                    $("#donations-card").html(
                        `<div class='text-center text-green-dark text-[15px] md:text-[20px] '>Maaf, saat ini sedang tidak tersedia donasi apapun.</div>`
                    );
                }
            },
            error: err => {
                console.log(err);
            },
        });
    });

    $("#progress-button").click(function (e){
        $.ajax({
            url: "donationspro",
            type: "GET",
            success: data => {
                if (data.length > 0) {
                    render(data);
                } else {
                    $("#donations-card").html(
                        `<div class='text-center text-green-dark text-[15px] md:text-[20px] '>Maaf, saat ini sedang tidak tersedia donasi apapun.</div>`
                    );
                }
            },
            error: err => {
                console.log(err);
            },
        });
    });


</script>
{% endblock content %}