{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Saved</title>
<script src="{% static 'js/saved.js' %}"></script>
{% endblock meta %} {% block content %}
<div class="bg-brokenwhite min-h-screen">
  <div class="max-w-[80%] mx-auto min-h-screen py-28" id="donations">
    <div
      class="flex gap-5 items-center justify-center text-green-dark text-[30px] md:text-[50px] font-bold mb-10 text-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-8 h-8"
      >
        <path
          fill-rule="evenodd"
          d="M6.32 2.577a49.255 49.255 0 0111.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 01-1.085.67L12 18.089l-7.165 3.583A.75.75 0 013.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93z"
          clip-rule="evenodd"
        />
      </svg>
      <span> Saved Donations </span>
    </div>
    <form action="POST" class="hidden">{% csrf_token %}</form>
    <div id="no-donation"></div>
    <div
      class="flex flex-wrap items-center justify-center gap-10"
      id="saved-card"
    >
      <!-- start card -->
      <!-- end card -->
    </div>
  </div>
</div>
{% endblock content %}
