{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Don8</title>
{% endblock meta %} {% block content %}
<div class="bg-brokenwhite min-h-screen">
    <div class="max-w-[80%] mx-auto min-h-screen py-20" id="messages">
        <h1 class="text-green-dark text-[50px] font-bold mb-10 text-center">
            All Support
        </h1>
        <button id="create_post"
            class="text-brokenwhite bg-green-medium py-2 px-3 rounded hover:scale-110 hover:shadow-md transition-all hover:shadow-brokenwhite/50">
            Give Support
        </button>
        <div class="pt-6 flex flex-wrap items-center justify-center gap-10" id="message-cards">
            <!-- start card -->
            <div
                class="p-6 max-w-sm rounded-lg shadow-lg hover:shadow-xl hover:shadow-green-light bg-green-medium py-4 px-3 hover:scale-105 transition-all">
                <div class="flex items-center pb-2">
                    <div class="flex items-start justify-between w-full">
                        <div class="pl-3 w-full">
                            <p class="focus:outline-none text-xl font-bold leading-5 text-brokenwhite">Author</p>
                            <p class="focus:outline-none text-sm leading-normal pt-2 text-brokenwhite">nama charity</p>
                        </div>

                    </div>
                </div>
                <div class="px-2">
                    <p class="focus:outline-none text-md leading-5 text-brokenwhite">A group of people interested
                       rfectly simple and easy to distinguish.</p>
                    <p class="focus:outline-none text-xs leading-normal pb-2 text-brokenwhite font-mono">21-10-03</p>
                    <div class="flex items-start justify-between w-full">
                        <button
                            class="text-orange-dark font-bold bg-orange-light py-2 px-3 rounded hover:scale-110 hover:shadow-md transition-all hover:shadow-brokenwhite/50"
                            onclick="location.href='/donation/2'">
                            Like This Post
                        </button>
                        <p class="text-orange-light py-2 text-xl">8 ❤</p>
                    </div>
                </div>
            </div>

            <!-- end card -->
        </div>
    </div>




    <!-- Start modal -->
    <!-- Main modal -->
    <div id="defaultModal" tabindex="-1" aria-hidden="true"
        class="w-full fixed flex justify-center w-full z-10 min-h-screen items-center bg-green-dark bg-opacity-50 hidden md:inset-0 h-modal md:h-full">
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
            <!-- Modal content -->
            <form method="POST" id="post-form">
                {% csrf_token %}
                <div class="relative bg-brokenwhite rounded-lg shadow">
                    <!-- Modal header -->
                    <div class="flex justify-between items-start p-4 rounded-t border-b">
                        <h3 class="text-xl font-semibold text-gray-900">
                            Create Post
                        </h3>
                        <button type="button"
                            class="classtutup text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                            data-modal-toggle="defaultModal">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->

                    <div class="p-6 space-y-6">
                        <!-- Message input -->
                        <div class="md:flex md:items-center mb-6">
                            <textarea
                                class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-brokenwhite focus:border-green-medium"
                                id="id_message" name="message"></textarea>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="flex items-center justify-center p-6 space-x-2 rounded-b border-t border-gray-200">
                        <button id="btnSubmit" data-modal-toggle="defaultModal" type="submit"
                            class="text-brokenwhite bg-green-medium py-2 px-3 rounded hover:scale-110 hover:shadow-md transition-all hover:shadow-brokenwhite/50">
                            Create
                        </button>
                        <button data-modal-toggle="defaultModal" type="button"
                            class="classtutup text-white bg-orange-medium transition-all rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:scale-110 focus:z-10">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- end modal -->
</div>
<script>
    const openModal = e => {
        $("#defaultModal").removeClass("hidden");
    };

    const closeModal = e => {
        $("#defaultModal").addClass("hidden");
    };

    $("#create_post").click(openModal);
    $(".classtutup").click(closeModal);
    
    function getPost() {
        const card = data => `
        <div
                class="p-6 max-w-sm rounded-lg shadow-lg hover:shadow-xl hover:shadow-green-light bg-green-medium py-4 px-3 hover:scale-105 transition-all">
                <div class="flex items-center pb-2">
                    <div class="flex items-start justify-between w-full">
                        <div class="pl-3 w-full">
                            <p class="focus:outline-none text-xl font-bold leading-5 text-brokenwhite">${data.fields.author_name}</p>
                            <p class="focus:outline-none text-sm leading-normal pt-2 text-brokenwhite">nama charity</p>
                        </div>
    
                    </div>
                </div>
                <div class="px-2">
                    <p class="focus:outline-none text-md leading-5 pt-2 text-brokenwhite">${data.fields.message}</p>
                    <p class="focus:outline-none text-xs leading-normal pb-2 text-brokenwhite font-mono">${data.fields.date_created}</p>
                    <div class="flex items-start justify-between w-full">
                        <button
                            class="text-orange-dark font-bold bg-orange-light py-2 px-3 rounded hover:scale-110 hover:shadow-md transition-all hover:shadow-brokenwhite/50"
                            onclick="location.href='/donation/2'">
                            Like This Post
                        </button>
                        <p class="text-orange-light py-2 text-xl">${data.fields.likes} ❤</p>
                    </div>
                </div>
            </div>`;

        const render = data => {
            const cards = data.map(card).join("");
            $("#message-cards").html(cards);
        };
        
        $.ajax({
            type: "GET",
            url: "json/",
            success: data => {
                render(data);
                console.log(data)
            },
            error: err => {
                console.log(err);
            },
        });

    }

    function addPost(e) {
        e.preventDefault()
        $.ajax({
            type: 'POST',
            url: 'add-message/',
            data: $("#post-form").serialize(),

            success: () => {
                getPost()
                $("#defaultModal").addClass("hidden")
            },
            dataType: 'json',
            error: function (xhr, resp, text) {
                console.log("xhr", xhr)
                console.log("resp", resp)
                console.log("text", text)
            }

        });
    }
    $(document).ready(() => {
        getPost()
        $("#btnSubmit").click(addPost)

    });
</script>
{% endblock content %}