{% extends 'base.html' %} {% load static %}  {% block content %}

<script src="{% static 'js/donation_page.js' %}"></script>

<div id="make-donation-modal"
    class="w-full fixed flex justify-center z-10 min-h-screen items-center bg-black bg-opacity-50 hidden">
    <div class="bg-white rounded-lg">
        <div class="flex justify-between px-5 py-2 bg-green-medium text-brokenwhite p-7 rounded-t-lg">
            <h1 class="font-bold">Make a donation</h1>
            <div class="cursor-pointer" id="close-icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </div>
        </div>

        <div class="m-5">
            <form method="POST" id="make-donation-form">
                {% csrf_token %}
                <div class="flex flex-col gap-5">
                    {{form.as_div}}
                    <div class="flex gap-5 mx-auto">
                        <input class="p-2 text-orange-dark font-bold bg-orange-light rounded cursor-pointer"
                            type="submit" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="unauthorized-modal"
    class="w-full fixed flex justify-center z-10 min-h-screen items-center bg-black bg-opacity-50 hidden">
    <div class="bg-white rounded-lg">
        <div class="flex justify-between px-5 py-2 font-bold bg-green-medium text-brokenwhite p-7 rounded-t-lg">
            <h1>Anda harus login sebagai pengguna</h1>
        </div>

        <div class="flex gap-5 justify-center items-center" id="unauthorized-button">
            <button class="p-2 text-orange-dark font-bold bg-orange-light rounded cursor-pointer mt-3 mb-2">
                <a href="{% url 'auth:login' %}">Login</a>
            </button>
        </div>
    </div>
</div>

<div id="no-money-modal"
    class="w-full fixed flex justify-center z-10 min-h-screen items-center bg-black bg-opacity-50 hidden">
    <div class="bg-white rounded-lg">
        <div class="flex justify-between px-5 py-2 font-bold bg-green-medium text-brokenwhite p-7 rounded-t-lg">
            <h1>Uang Anda tidak cukup</h1>
        </div>

        <div class="flex gap-5 justify-center items-center" id="no-money-button">
            <button class="p-2 px-3 text-orange-dark font-bold bg-orange-light rounded cursor-pointer mt-3 mb-2">
                OK
            </button>
        </div>
    </div>
</div>

<div id="expired-modal"
    class="w-full fixed flex justify-center z-10 min-h-screen items-center bg-black bg-opacity-50 hidden">
    <div class="bg-white rounded-lg">
        <div class="flex justify-between px-5 py-2 font-bold bg-green-medium text-brokenwhite p-7 rounded-t-lg">
            <h1>Maaf, donasi ini sudah tutup</h1>
        </div>

        <div class="flex gap-5 justify-center items-center" id="expired-button">
            <button class="p-2 px-3 text-orange-dark font-bold bg-orange-light rounded cursor-pointer mt-3 mb-2">
                OK
            </button>
        </div>
    </div>
</div>

<div class="bg-brokenwhite min-h-screen py-24 md:py-10">
    <div class="max-w-[80%] mx-auto min-h-screen flex flex-col justify-center">
        <div class="row-2 flex gap-8 flex-col items-center lg:justify-center">
            <div class="col-2 flex lg:flex-row gap-8 flex-col items-center lg:justify-center" style="width: 100%">
                <div class="bg-green-medium p-5 rounded-3xl text-brokenwhite p-7" style="width: min(100%, 600px)"
                    id="donation-main"></div>

                <div class="flex flex-col-reverse lg:flex-col gap-8 max-w-xl" style="width: min(100%, 600px)">
                    <div class="bg-green-medium p-5 rounded-3xl text-brokenwhite h-1/2 p-7 w-[100%]"
                        id="donation-description"></div>
                    <div class="bg-green-medium p-5 rounded-3xl text-brokenwhite h-1/2 p-7 w-[100%]"
                        id="organization-profile"></div>
                </div>
            </div>

            {% if pengguna %}
            <div class="bg-green-medium p-5 rounded-3xl text-brokenwhite h-1/2 p-7 w-[100%]"
                style="width: min(100%, 600px)" id="last-donation">
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}