{% extends 'base.html' %}
{% block content %}

<script>
    $(document).ready(() => {

        // // for template data yg diambil
        // const card = task => `

        // `;

        // const render = () => {
        //     $.get("{%url 'donation_app:get_donation_data'}"), data => {
        //         $("#donation").append(card(data));

        //     }

        // }

        // const updateMoneyAccumulated = id => {
        //     // get the CSRF Token
        //     const csrftoken = document.querySelector(
        //         '[name=csrfmiddlewaretoken]'
        //     ).value;

        //     $.ajax({
        //         url: "{% url 'donation_app:update-money-accumulated' 0 %}".replace('0', id),
        //         type: 'PUT',
        //         headers: { 'X-CSRFToken': csrftoken }, // give CSRF token to the header
        //         mode: 'same-origin', // Do not send CSRF token to another domain.
        //         success: response => {
        //             // refresh
        //             $('#money_accumulated').empty();
        //             render();
        //         },
        //         // error: error => {
        //         // console.log(error);
        //         // },
        //     });
        // }

        const openModal = e => {
            $('#make-donation-modal').removeClass('hidden');
        };

        const closeModal = e => {
            $('#make-donation-modal').addClass('hidden')
        };

        $('#make-donation-button').click(openModal)
        $('#close-icon').click(closeModal)

        $('make-donation-form').submit = e => {
            e.preventDefault();

            $.ajax({
                    type: "POST",
                    url: "{% url 'donation_app:make-donation' 0 %}".replace('0', id),
                    data: {
                        amount_of_donation: $("#amount-of-donation").val(),
                    },
                    success: function (response) {
                        $("#make-donation-form").trigger("reset"); // untuk meng-clear formnya
                        closeModal();
                        document.getElementById('money_accumulated').innerHTML += parseInt(amount_of_donation);
                        // $("#money_accumulated").append(response);
                    }
                })   
        }
    })

</script>

<div id="make-donation-modal"
        class="w-full fixed flex justify-center w-full z-10 min-h-screen items-center bg-black bg-opacity-50 hidden">
        <div class="bg-white rounded-lg">
            <div class="flex justify-between px-5 py-2 bg-blue-200 rounded-t-lg">
                <h1>Make a donation</h1>
                <div class="cursor-pointer" id="close-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>
            </div>

            <div class="m-5">
                <form method="POST" action="" id="make-donation-form">
                    {% csrf_token %}
                    <div class="flex flex-col gap-5">
                        <div class="flex gap-5">
                            Amount of Donation:
                            <input type="text" name="amount-of-donation" placeholder="" id="amount-of-donation"
                                class="border-2 border-blue-500 rounded">
                        </div>

                        <div class="flex gap-5 mx-auto">
                            <input class="p-2 bg-blue-200 rounded cursor-pointer" type="submit" value="Submit"> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div>
        {% for data in donation_data %}
        <div>
            {{data.user}}
            {{data.title}}
            {{data.description}}
            {{data.date_created}}
            {{data.expired}}
            <div id="money_accumulated">
                {{data.money_accumulated}}
            </div>
        </div>

        {% endfor}
    </div>

    {% endblock content %}