{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              green: {
                dark: "#003E44",
                medium: "#006D77",
                light: "#83C5BE",
              },
              brokenwhite: "#EDF6F9",
              orange: {
                dark: "#CC6842",
                medium: "#E29578",
                light: "#FFDDD2",
              },
            },
          },
        },
      };
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% block meta %} {% endblock meta %}
  </head>

  <script>
    // check if user is logged in
    $(document).ready(() => {
      $.ajax({
        url: "{% url 'auth:check_login' %}",
        type: "GET",
        success: response => {
          
        },
      });
    });
  </script>

  <body>
    <nav
      class="fixed flex w-full justify-between py-5 px-10 items-center bg-green-light shadow-lg shadow-green-dark/30 z-10"
    >
      <a
        class="text-green-dark text-[28px] font-bold hover:scale-110 transition-all cursor-pointer"
        href="/"
        >don8</a
      >
      <div class="flex gap-10 items-center text-green-medium font-bold">
        {% if request.user.is_authenticated and request.user.role == 1 %}
        <a
          id="donation-history"
          class="hover:scale-110 transition-all cursor-pointer"
          href="/donations-history/"
          >Donation History</a
        >
        {% endif %}
        {% if request.user.is_authenticated and request.user.role == 1 %}
        <a
          id="saved-donation"
          class="hover:scale-110 transition-all cursor-pointer"
          href="{% url 'saved:show_saved' request.user.username %}"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z"
            />
          </svg>
        </a>
        {% endif %}
        {% if request.user.is_authenticated and request.user.role == 2 %}
        <span
          id="create-donation"
          class="hover:scale-110 transition-all cursor-pointer"
          >Create Donation</span
        >
        {% endif %}
        {% if not request.user.is_authenticated %}
        <button
          id="login"
          class="text-brokenwhite bg-gradient-to-r from-green-dark to-green-medium py-2 px-3 rounded hover:scale-110 hover:shadow-md transition-all hover:shadow-brokenwhite/50"
          onclick="location.href='/auth/login/'"
        >
          Login
        </button>
        {% endif %}
        {% if request.user.is_authenticated %}
        <a
          a
          id="profile"
          href="profile/{{ request.user.username }}"
          class="hover:scale-110 transition-all cursor-pointer border-2 border-green-medium bg-gradient-to-r from-green-light to-brokenwhite p-2 rounded-full hover:shadow-md transition-all hover:shadow-brokenwhite/50"
        >{{ request.user.username }}</a>
        {% endif %}
        {% if request.user.is_authenticated %}
        <button
          id="logout"
          class="text-brokenwhite bg-gradient-to-r from-green-dark to-green-medium py-2 px-3 rounded hover:scale-110 hover:shadow-md transition-all hover:shadow-brokenwhite/50"
          onclick="location.href='/auth/logout/'"
        >
          Logout
        </button>
        {% endif %}
      </div>
    </nav>
    {% block content %} {% endblock content %} {% include 'footer.html' %}
  </body>
</html>
